ul {
    background-color: greenyellow;
    list-style-type:square;
}

li a {
    color: maroon;
    display: table;
    padding: 14px;
}

li a:hover {
    background-color: yellow;
}

div {
    background-color: lightgoldenrodyellow;
}

body {
    background-color: mediumspringgreen;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.form {
    background-color: limegreen;
}

.field {
    background-color: lime;
}

table, th, td {
    border: 2px solid black;
}